<div id="profileLeft" style="margin-top:0;">
    <p class="boxSub large">Jean</p>

    <div class="boxSubBottom"></div>
    <div class="profileImageDiv">
        <!--img/photo_profile_su_yang_56c3386e9ed4f6860142b639.jpg-->
        <a href="/settings"><img src="https://www.patreon.com/images/profile_default_large.png"></a>
    </div>
    <div class="clearfix" style="margin-bottom:14px;"></div>


    <div style="margin-left:4px;margin-bottom:34px;">
        <a target="_blank" href="/settings">
            <i class="icon-twitter posAbsolute"></i>
            <span class="needIcon large noFlow">Display your Twitter</span>
        </a>
        <div class="clearfix"></div>
    </div>

    <div style="margin-left:4px;margin-bottom:42px;">
        <a target="_blank" href="/settings">
            <i class="icon-facebook posAbsolute"></i>
            <span class="needIcon large noFlow">Display your Facebook</span>
        </a>
        <div class="clearfix"></div>
    </div>

    <p class="boxSub">About</p>
        <div class="urlBreak profileAbout">
            <a class="editInfo" href="/settings"><strong>Edit your profile</strong></a>
            <ul><li>Write something about yourself</li><li>The types of artists and creators that you support</li></ul>
        </div>
        <div class="clearfix" style="margin-bottom:14px;"></div>
        <p class="boxSub">Location</p>
    <a class="editInfo" href="/settings"><strong>Add your locations</strong></a>
    <div class="clearfix" style="margin-bottom:14px;"></div>
</div>