<div class="post-preview">
    <a href="/article/id/{{article._id}}">
        <h2 class="post-title">
            {{article.title}}
        </h2>
        <h3 class="post-subtitle">
            {{article.content}}
        </h3>
    </a>
    <p class="post-meta">Posted by
        <a *ngIf="authorInfo" href="#">{{authorInfo.firstName}} {{authorInfo.lastName}}</a> on {{article.creationDate|date}} - {{article.readingTime}} mn read -
        <a href="#">{{article.tag1}}</a> <a *ngIf="article.tag2" href="#">{{article.tag2}}</a>
    </p>
    <p>
        <i class="fa fa-heart"></i>  <i class="fa fa-comments"></i>
    </p>

</div>
<hr>
