@()(implicit request: RequestHeader, user: User, messages: Messages)

@import controllers.routes

@views.html.templates.logged(title = "My account", tab = "myaccount") {

@tags.alertFromRequest(request, "success")

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 1. Load libraries -->
        <!-- IE required polyfills, in this exact order -->
    <script data-main="@routes.MyAssets.js("main")" src="@routes.MyAssets.lib("angular/es6-shim.min.js")" type="text/javascript"></script>
    <script data-main="@routes.MyAssets.js("main")" src="@routes.MyAssets.lib("angular/system-polyfills.js")" type="text/javascript"></script>

    <script data-main="@routes.MyAssets.js("main")" src="@routes.MyAssets.lib("angular/angular2-polyfills.js")" type="text/javascript"></script>
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://code.angularjs.org/tools/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.6/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.6/angular2.dev.js"></script>

    <script data-main="@routes.MyAssets.js("main")" src="@routes.MyAssets.javascripts("myprofile.ts")" type="text/javascript"></script>

        <!-- 2. Configure SystemJS -->
    <script>
            System.config({
                transpiler: 'typescript',
                typescriptOptions: { emitDecoratorMetadata: true },
                packages: {'app': {defaultExtension: 'ts'}}
            });
    </script>

</head>

        <!-- 3. Display the application -->
    <body>
        <h1>@Messages("myprofile.title") <a class="btn btn-default btn-sm pull-right" href="@routes.Auth.changePassword">@Messages("changepass")</a></h1>
        <my-app>Loading...</my-app>
    </body>



}